.noty_layout_mixin,
#noty_layout__top,
#noty_layout__topLeft,
#noty_layout__topCenter,
#noty_layout__topRight,
#noty_layout__bottom,
#noty_layout__bottomLeft,
#noty_layout__bottomCenter,
#noty_layout__bottomRight,
#noty_layout__center,
#noty_layout__centerLeft,
#noty_layout__centerRight {
  position: fixed;
  margin: 0;
  padding: 0;
  z-index: 9999999;
  -webkit-transform: translateZ(0) scale(1, 1);
          transform: translateZ(0) scale(1, 1);
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  -webkit-font-smoothing: subpixel-antialiased;
  filter: blur(0);
  -webkit-filter: blur(0);
  max-width: 90%;
}

#noty_layout__top {
  top: 0;
  left: 5%;
  width: 90%;
}

#noty_layout__topLeft {
  top: 20px;
  left: 20px;
  width: 325px;
}

#noty_layout__topCenter {
  top: 5%;
  left: 50%;
  width: 325px;
  -webkit-transform: translate(calc(-50% - .5px)) translateZ(0) scale(1, 1);
          transform: translate(calc(-50% - .5px)) translateZ(0) scale(1, 1);
}

#noty_layout__topRight {
  top: 20px;
  right: 20px;
  width: 325px;
}

#noty_layout__bottom {
  bottom: 0;
  left: 5%;
  width: 90%;
}

#noty_layout__bottomLeft {
  bottom: 20px;
  left: 20px;
  width: 325px;
}

#noty_layout__bottomCenter {
  bottom: 5%;
  left: 50%;
  width: 325px;
  -webkit-transform: translate(calc(-50% - .5px)) translateZ(0) scale(1, 1);
          transform: translate(calc(-50% - .5px)) translateZ(0) scale(1, 1);
}

#noty_layout__bottomRight {
  bottom: 20px;
  right: 20px;
  width: 325px;
}

#noty_layout__center {
  top: 50%;
  left: 50%;
  width: 325px;
  -webkit-transform: translate(calc(-50% - .5px), calc(-50% - .5px)) translateZ(0) scale(1, 1);
          transform: translate(calc(-50% - .5px), calc(-50% - .5px)) translateZ(0) scale(1, 1);
}

#noty_layout__centerLeft {
  top: 50%;
  left: 20px;
  width: 325px;
  -webkit-transform: translate(0, calc(-50% - .5px)) translateZ(0) scale(1, 1);
          transform: translate(0, calc(-50% - .5px)) translateZ(0) scale(1, 1);
}

#noty_layout__centerRight {
  top: 50%;
  right: 20px;
  width: 325px;
  -webkit-transform: translate(0, calc(-50% - .5px)) translateZ(0) scale(1, 1);
          transform: translate(0, calc(-50% - .5px)) translateZ(0) scale(1, 1);
}

.noty_progressbar {
  display: none;
}

.noty_has_timeout.noty_has_progressbar .noty_progressbar {
  display: block;
  position: absolute;
  left: 0;
  bottom: 0;
  height: 3px;
  width: 100%;
  background-color: #646464;
  opacity: 0.2;
  filter: alpha(opacity=10);
}

.noty_bar {
  -webkit-backface-visibility: hidden;
  -webkit-transform: translate(0, 0) translateZ(0) scale(1, 1);
  transform: translate(0, 0) scale(1, 1);
  -webkit-font-smoothing: subpixel-antialiased;
  overflow: hidden;
}

.noty_effects_open {
  opacity: 0;
  -webkit-transform: translate(50%);
          transform: translate(50%);
  -webkit-animation: noty_anim_in 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
          animation: noty_anim_in 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.noty_effects_close {
  -webkit-animation: noty_anim_out 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
          animation: noty_anim_out 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.noty_fix_effects_height {
  -webkit-animation: noty_anim_height 75ms ease-out;
          animation: noty_anim_height 75ms ease-out;
}

.noty_close_with_click {
  cursor: pointer;
}

.noty_close_button {
  position: absolute;
  top: 2px;
  right: 2px;
  font-weight: bold;
  width: 20px;
  height: 20px;
  text-align: center;
  line-height: 20px;
  background-color: rgba(0, 0, 0, 0.05);
  border-radius: 2px;
  cursor: pointer;
  -webkit-transition: all .2s ease-out;
  transition: all .2s ease-out;
}

.noty_close_button:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

.noty_modal {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: #000;
  z-index: 10000;
  opacity: .3;
  left: 0;
  top: 0;
}

.noty_modal.noty_modal_open {
  opacity: 0;
  -webkit-animation: noty_modal_in .3s ease-out;
          animation: noty_modal_in .3s ease-out;
}

.noty_modal.noty_modal_close {
  -webkit-animation: noty_modal_out .3s ease-out;
          animation: noty_modal_out .3s ease-out;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

@-webkit-keyframes noty_modal_in {
  100% {
    opacity: .3;
  }
}

@keyframes noty_modal_in {
  100% {
    opacity: .3;
  }
}

@-webkit-keyframes noty_modal_out {
  100% {
    opacity: 0;
  }
}

@keyframes noty_modal_out {
  100% {
    opacity: 0;
  }
}

@keyframes noty_modal_out {
  100% {
    opacity: 0;
  }
}

@-webkit-keyframes noty_anim_in {
  100% {
    -webkit-transform: translate(0);
            transform: translate(0);
    opacity: 1;
  }
}

@keyframes noty_anim_in {
  100% {
    -webkit-transform: translate(0);
            transform: translate(0);
    opacity: 1;
  }
}

@-webkit-keyframes noty_anim_out {
  100% {
    -webkit-transform: translate(50%);
            transform: translate(50%);
    opacity: 0;
  }
}

@keyframes noty_anim_out {
  100% {
    -webkit-transform: translate(50%);
            transform: translate(50%);
    opacity: 0;
  }
}

@-webkit-keyframes noty_anim_height {
  100% {
    height: 0;
  }
}

@keyframes noty_anim_height {
  100% {
    height: 0;
  }
}

.noty_theme__mint.noty_bar {
  margin: 4px 0;
  overflow: hidden;
  border-radius: 2px;
  position: relative;
}

.noty_theme__mint.noty_bar .noty_body {
  padding: 10px;
  font-size: 14px;
}

.noty_theme__mint.noty_bar .noty_buttons {
  padding: 10px;
}

.noty_theme__mint.noty_type__alert,
.noty_theme__mint.noty_type__notification {
  background-color: #fff;
  border-bottom: 1px solid #D1D1D1;
  color: #2F2F2F;
}

.noty_theme__mint.noty_type__warning {
  background-color: #FFAE42;
  border-bottom: 1px solid #E89F3C;
  color: #fff;
}

.noty_theme__mint.noty_type__error {
  background-color: #DE636F;
  border-bottom: 1px solid #CA5A65;
  color: #fff;
}

.noty_theme__mint.noty_type__info,
.noty_theme__mint.noty_type__information {
  background-color: #7F7EFF;
  border-bottom: 1px solid #7473E8;
  color: #fff;
}

.noty_theme__mint.noty_type__success {
  background-color: #AFC765;
  border-bottom: 1px solid #A0B55C;
  color: #fff;
}

.image-style-side {
  text-align: left;
  text-decoration: none;
  position: relative;
  text-transform: none;
  font-family: 'GothamPro', Arial, Helvetica, sans-serif;
  font-size: 16px !important;
  font-weight: normal;
  font-style: normal;
  line-height: 24px;
  margin: 0 0 1.5em;
}

.image-style-side p {
  font-size: 18px !important;
}

.image-style-side ul li {
  font-size: 18px !important;
}

.image-style-side ol li {
  font-size: 18px !important;
}

.image-style-side a {
  text-decoration: underline;
  color: #43f;
}

.image-style-side a:visited {
  text-decoration: inherit;
  color: #609;
}

.image-style-side a:hover {
  text-decoration: underline;
  color: #f00;
}

.image-style-side a:active {
  text-decoration: underline;
  color: #000;
}

.image-style-side a[href^="http"],
.image-style-side a[href^="www."] {
  cursor: pointer;
  cursor: alias;
}

.image-style-side img {
  max-height: 600px !important;
  height: auto !important;
  width: 100% !important;
}

.image-style-side li {
  list-style-type: none;
}

.image-style-side h1,
.image-style-side h2,
.image-style-side h3,
.image-style-side h4,
.image-style-side h5,
.image-style-side h6 {
  line-height: 1.2em;
  margin: 1em 0 0.7em;
}

.image-style-side h1 a,
.image-style-side h2 a,
.image-style-side h3 a,
.image-style-side h4 a,
.image-style-side h5 a,
.image-style-side h6 a {
  text-decoration: none;
}

.image-style-side h1:before,
.image-style-side h2:before,
.image-style-side h3:before,
.image-style-side h4:before,
.image-style-side h5:before,
.image-style-side h6:before {
  content: '';
  display: block;
  clear: both;
  height: 0;
}

.image-style-side h1:first-child,
.image-style-side h2:first-child,
.image-style-side h3:first-child,
.image-style-side h4:first-child,
.image-style-side h5:first-child,
.image-style-side h6:first-child {
  margin-top: 0;
}

.image-style-side h1 {
  font-size: 30px !important;
}

.image-style-side h2 {
  font-size: 28px !important;
}

.image-style-side h3 {
  font-size: 28px !important;
}

.image-style-side h4 {
  font-size: 28px !important;
}

.image-style-side h5 {
  font-size: 24px !important;
}

.image-style-side h6 {
  font-size: 20px !important;
}

.image-style-side ul,
.image-style-side ol,
.image-style-side dl,
.image-style-side pre,
.image-style-side p,
.image-style-side table,
.image-style-side blockquote,
.image-style-side address,
.image-style-side .iframeHolder {
  margin: 1.5em 0;
}

.image-style-side ul:first-child,
.image-style-side ol:first-child,
.image-style-side dl:first-child,
.image-style-side pre:first-child,
.image-style-side p:first-child,
.image-style-side table:first-child,
.image-style-side blockquote:first-child,
.image-style-side address:first-child,
.image-style-side .iframeHolder:first-child {
  margin-top: 0;
}

.image-style-side ul:last-child,
.image-style-side ol:last-child,
.image-style-side dl:last-child,
.image-style-side pre:last-child,
.image-style-side p:last-child,
.image-style-side table:last-child,
.image-style-side blockquote:last-child,
.image-style-side address:last-child,
.image-style-side .iframeHolder:last-child {
  margin-bottom: 0;
}

.image-style-side blockquote {
  padding: 1.5em;
  font-style: italic;
  background-color: #f6f6f6;
  border-left: 3px solid #d8d8d8;
}

.image-style-side ul,
.image-style-side ol,
.image-style-side dl,
.image-style-side dd {
  margin-left: 1.5em;
}

.image-style-side ul ul,
.image-style-side ul ol {
  margin-top: 0;
}

.image-style-side ol ul,
.image-style-side ol ol {
  margin-top: 0;
}

.image-style-side li {
  list-style-position: inside;
  margin: 0.2em 0;
}

.image-style-side ul li,
.image-style-side ol li {
  list-style-type: inherit;
}

.image-style-side ul {
  list-style-type: disc;
}

.image-style-side ul ul {
  list-style-type: circle;
}

.image-style-side ul ul ul {
  list-style-type: square;
}

.image-style-side ol {
  list-style-type: decimal;
  padding-left: 10px !important;
}

.image-style-side dl dt {
  font-style: italic;
}

.image-style-side table {
  width: 100%;
  background-color: transparent;
  border-collapse: collapse;
  border-spacing: 0;
  border: 1px solid #666;
}

.image-style-side table caption {
  margin-bottom: 0.5em;
  caption-side: top;
}

.image-style-side table tbody,
.image-style-side table tfoot,
.image-style-side table thead,
.image-style-side table tr,
.image-style-side table th,
.image-style-side table td {
  border: inherit;
}

.image-style-side table th,
.image-style-side table td {
  padding: 10px;
  line-height: 1em;
  text-align: left;
  vertical-align: top;
}

.image-style-side table th {
  text-align: center;
  font-weight: bold;
  background-color: #2f2f2f;
  color: #fff;
}

.image-style-side table.table-null {
  border-color: transparent;
}

.image-style-side table.table-null th,
.image-style-side table.table-null td {
  border-color: transparent;
}

.image-style-side table.table-zebra {
  border-color: transparent;
}

.image-style-side table.table-zebra th,
.image-style-side table.table-zebra td {
  border-color: transparent;
}

.image-style-side table.table-zebra tr:nth-child(odd) {
  background-color: #939a93;
  color: #fff;
}

.image-style-side pre,
.image-style-side code,
.image-style-side kbd,
.image-style-side samp {
  font-style: normal;
  border-radius: 0.25em;
  border: 1px solid #777;
  background-color: #eee;
}

.image-style-side pre {
  line-height: 1.5em;
  -moz-tab-size: 4;
  -o-tab-size: 4;
     tab-size: 4;
  padding: 1em;
}

.image-style-side code,
.image-style-side kbd,
.image-style-side samp {
  letter-spacing: 1px;
  color: #fff;
  text-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
  line-height: 1.2em;
  font-weight: bold;
  display: inline-block;
  vertical-align: inherit;
  padding: 0 0.375em;
}

.image-style-side code {
  background-color: #0283bc;
}

.image-style-side kbd {
  background-color: #6baa2b;
}

.image-style-side samp {
  background-color: #41a2ff;
}

.image-style-side audio {
  display: block;
  width: 100%;
}

.iframeHolder {
  width: 100%;
  position: relative;
  padding-top: 56.25%;
}

.iframeHolder > iframe,
.iframeHolder > video {
  background: #000;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

@media only screen and (max-width: 740px) {
  .image-style-side img {
    max-height: 500px;
  }

  .image-style-side h1 {
    font-size: 30px;
  }

  .image-style-side h2 {
    font-size: 27px;
  }

  .image-style-side h3 {
    font-size: 24px;
  }

  .image-style-side h4 {
    font-size: 21px;
  }

  .image-style-side h5 {
    font-size: 18px;
  }

  .image-style-side h6 {
    font-size: 15px;
  }
}

@media only screen and (max-width: 600px) {
  .image-style-side {
    line-height: 1.3em;
    font-size: 13px;
  }

  .image-style-side img {
    max-height: 400px;
  }

  .image-style-side h1 {
    font-size: 26px;
  }

  .image-style-side h2 {
    font-size: 23.92px;
  }

  .image-style-side h3 {
    font-size: 21.84px;
  }

  .image-style-side h4 {
    font-size: 19.76px;
  }

  .image-style-side h5 {
    font-size: 17.68px;
  }

  .image-style-side h6 {
    font-size: 15.6px;
  }

  .image-style-side ul,
  .image-style-side ol,
  .image-style-side dl {
    margin-left: 1em;
  }

  .image-style-side ul,
  .image-style-side ol,
  .image-style-side dl,
  .image-style-side pre,
  .image-style-side p,
  .image-style-side table,
  .image-style-side blockquote,
  .image-style-side address,
  .image-style-side .iframeHolder {
    margin-top: 1.3em;
    margin-bottom: 1.3em;
  }

  .image-style-side ul ul:last-child,
  .image-style-side ul ol:last-child {
    margin-top: 1.3em;
    margin-bottom: 1.3em;
  }

  .image-style-side ol ul:last-child,
  .image-style-side ol ol:last-child {
    margin-top: 1.3em;
    margin-bottom: 1.3em;
  }
}

